<div class="scroll-wrapper">

    <%= render "partials/navbar" %>

    <div class="wrapper">
        <div id="toolbar">
            <button class="ql-bold toolbar-option">
                <i class="material-icons"> format_bold </i>
            </button>
            <button class="ql-underline toolbar-option">
                <i class="material-icons"> format_underline </i>
            </button>
            <button class="ql-italic toolbar-option">
                <i class="material-icons"> format_italic </i>
            </button>
            <button class="ql-strike toolbar-option">
                <i class="material-icons"> strikethrough_s </i>
            </button>
            <button class="unsplash-image toolbar-option">
                <i class="material-icons"> add_photo_alternate </i>
            </button>
            <button class="ql-header toolbar-option" value="1" type="button">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M3,4H5V10H9V4H11V18H9V12H5V18H3V4M14,18V16H16V6.31L13.5,7.75V5.44L16,4H18V16H20V18H14Z" />
                </svg>
            </button>
            <button class="ql-header toolbar-option" value="2" type="button">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M3,4H5V10H9V4H11V18H9V12H5V18H3V4M21,18H15A2,2 0 0,1 13,16C13,15.47 13.2,15 13.54,14.64L18.41,9.41C18.78,9.05 19,8.55 19,8A2,2 0 0,0 17,6A2,2 0 0,0 15,8H13A4,4 0 0,1 17,4A4,4 0 0,1 21,8C21,9.1 20.55,10.1 19.83,10.83L15,16H21V18Z" />
                </svg>
            </button>
            
            <span class="save"></span>
        </div>

        <div id="editor">
        </div>
    </div>
</div>

<div class="image-wrapper">
    <div class="image-close">
        Cancel
    </div>

    <div class="image-content">
        <div class="image-search">
            <form id="unsplash-search">
                <input class="image-search-input" placeholder="Search for images...">
            </form>
        </div>
        <div class="image-results">
            
        </div>
    </div>
</div>

<%= javascript_include_tag 'write' %>
<%= javascript_include_tag 'edit' %>