<%= render "partials/navbar" %>

<div class="wrapper" id="scrolling-container">
    <div id="toolbar">
        <button class="ql-bold toolbar-option">
            <i class="material-icons"> format_bold </i>
        </button>
        <button class="ql-underline toolbar-option">
            <i class="material-icons"> format_underline </i>
        </button>
        <button class="ql-italic toolbar-option">
            <i class="material-icons"> format_italic </i>
        </button>
        <button class="ql-strike toolbar-option">
            <i class="material-icons"> strikethrough_s </i>
        </button>
        <button class="unsplash-image toolbar-option">
            <i class="material-icons"> add_photo_alternate </i>
        </button>
        
        <span class="save"></span>
    </div>
    <div id="editor">
    </div>
</div>

<div class="image-wrapper">
    <div class="image-close">
        Cancel
    </div>

    <div class="image-content">
        <div class="image-search">
            <form id="unsplash-search">
                <input class="image-search-input" placeholder="Search for images...">
            </form>
        </div>
        <div class="image-results">
            
        </div>
    </div>
</div>

<%= javascript_include_tag 'edit' %>