<%= render "partials/navbar" %>

<div class="wrapper">
    <div id="toolbar">
        <button class="ql-bold toolbar-option">
            <i class="material-icons"> format_bold </i>
        </button>
        <button class="ql-underline toolbar-option">
            <i class="material-icons"> format_underline </i>
        </button>
        <button class="ql-italic toolbar-option">
            <i class="material-icons"> format_italic </i>
        </button>
        <button class="ql-strike toolbar-option">
            <i class="material-icons"> strikethrough_s </i>
        </button>
        
        <span class="save"></span>
    </div>
    <div id="editor">
    </div>
</div>


<%= javascript_include_tag 'edit' %>