<%= render "partials/navbar" %>

<div class="wrapper">
    <div id="toolbar">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
        <span class="save"></span>
    </div>
    <div id="editor">
    </div>
</div>


<%= javascript_include_tag 'editor' %>