<div class="navbar-wrapper">
    <div class="navbar">
        <div class="logo-wrapper route" data-path="/">
            <span class="logo">Writr</span>
            <span class="logo-mobile">W</span>
        </div>
        <div class="link-wrapper">
            <%= image_tag("search.svg", :alt => "search", :class => "link route", :data => { :path => "/search"} ) %>
            <% if @signed_in %>
                <%= image_tag("bell.svg", :alt => "notif", :class => "link route", :data => { :path => "/notifications"} ) %>
                <div class="new btn link route" data-path="/articles/new">
                    New
                </div>

                <div class="dropdown">
                    <div class="avatar">
                    </div>
                    <div class="dropdown-content-wrapper">
                    <div class="dropdown-content">
                        <div class="section-profile">
                                <div class="profile-avatar">
                                </div>
                            <div class="profile-name">
                                <p>
                                    Abhishek Venkat
                                </p>
                                <p>
                                    @abhisaivenkat
                                </p>
                            </div>
                        </div>
                        <div class="routes">
                        <div class="divide"></div>
                        <p class="logout route hover" style="color: #029e74;">Logout</p>
                        <div class="divide"></div>
                        <p class="route hover" data-path="/articles/new">New Article</p>
                        <p class="route hover" data-path="/me/articles">Articles</p>
                        <p class="route hover" data-path="/me/stats">Stats</p>
                        <div class="divide"></div>
                        <p class="hover">Getting Stated</p>
                        <div class="divide"></div>
                        <p class="route hover" data-path="/profile">Profile</p>
                        <p class="hover">Settings</p>
                        <p class="hover">Help</p>
                        </div>
                    </div>
                    </div>
                </div>
            <% else %>
                <div class="green btn link route" data-path="/login">
                    Login
                </div>
                <div class="green border btn link route" data-path="/register">
                    Sign up
                </div>
            <% end %>

        </div>
    </div>
</div>