/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */

html, body{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar-wrapper{
    background: #fff;
    height: 80px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 0 20px;
}

.logo-wrapper{
    font-size: 40px;
    cursor: pointer;
}

.logo-mobile{
    display: none;
}

.link-wrapper{
    display: flex;
    align-items: center;
}

.link-wrapper > img{
    height: 20px;
}

.link{
    margin: 0 9px;
    cursor: pointer;
}


.new-btn{
    padding: 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.54);
    border-radius: 5px;
    color:  rgba(0,0,0, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar{
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background: black;
}

@media only screen and (max-width: 600px) {
  .logo{
      display: none;
  }

  .logo-mobile{
      display: inline-block;
  }

  .new-btn{
      display: none;
  }
}