.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.save{
    float: right;
    color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 1200px) {
    .editor-wrapper {
        padding: 0 16px 16px 16px;
    }
}


h1, h2, h4{
    font-weight: normal;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h{
    height: 30px;
    padding: 10px 15px !important;
    margin: 10px;
}


.small{
    font-size: 12px;
    color: grey;
    margin-left: 10px;
}

.more{
    height: 20px;
    filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(41deg) brightness(98%) contrast(87%);
    padding: 9px 6px;
    border-radius: 6px 6px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 100ms linear;
}

.more:hover{
    background-color: rgba(0, 0, 0, 0.12);
}

.down{
    background-color: rgba(0,0,0,0.2) !important;
}

.options{
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    position: absolute;
    background: white;
    flex-direction: column;
}

.option{
    margin: 5px;
}