.wrapper{
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

.save{
    float: right;
    color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 1080px) {
    .wrapper {
        padding: 0 20px 16px 20px;
    }

}


h1, h2, h3, h4{
    font-weight: normal;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#toolbar{
    margin-bottom: 30px;
}

#editor{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

.article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h{
    height: 30px;
    padding: 10px 15px !important;
    margin: 10px;
}

.ql-editor.ql-blank::before {
    font-style: normal;
}


.small{
    font-size: 12px;
    color: grey;
    margin-left: 10px;
}

.more{
    height: 20px;
    filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(41deg) brightness(98%) contrast(87%);
    padding: 9px 6px;
    border-radius: 6px 6px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 100ms linear;
}

.more:hover{
    background-color: rgba(0, 0, 0, 0.12);
}

.down{
    background-color: rgba(0,0,0,0.2) !important;
}

.options{
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 3px;
    position: absolute;
    background: white;
    flex-direction: column;
    width: 100px;
}

.option{
    margin: 14px 5px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

.option:hover{
    background: rgba(0,0,0,0.09);
}

.red{
    color: red;
}


.toolbar-option{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
    height: 48px;
    padding: 12px;
    background-color: #fff;
    transition: background-color 100ms linear;
}

.toolbar-option:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.ql-active{
    background-color: rgba(0, 0, 0, 0.12);
}

.ql-active:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

.read{
    max-width: 900px !important;
    display: flex;
    flex-direction: column;
}

.main-img{
    margin-left: auto !important;
    margin-right: auto !important;
}

.read-item{
    margin: 15px 0;
}

.title{
    font-size: 40px;
}


.subtitle, #content{
    font-size: 24px;
}

.subtitle{
    color: rgba(0, 0, 0, 0.64);
}

.author-wrapper{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.author-wrapper > img{
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.image-wrapper{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 1080px;
    height: 100%;
    margin:  auto;
    z-index: 2;
    flex-direction: column;
    display: none;
    padding-top: 250px;
}

.image-close{
    padding-bottom: 10px;
}

.image-content{
    background: #fff;
}

#unsplash-search > input{
    border: none;
    border-bottom: 2px solid black;
    padding: 14px;
    outline: none;
    width: 80%;
    font-size: 21px;
}

.image-results{
    height: 400px !important;
    padding: 20px 5px;
    overflow-y: auto;
}
